<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Layout/csss/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Layout/csss/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
</head>
<body>


    <!-- HEADER =============================-->
    <header class="item header margin-top-0">
        <div class="wrapper">
            <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a href="AddDoctor" class="navbar-brand brand"> Carary </a>
                    </div>
                    <div id="navbar-collapse-02" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="propClone"><a href=#>Check Ids</a></li>
                            <li class="propClone"><a href="@Url.Action("Archive","Admin")">Archive</a></li>
                            <li class="propClone"><a href="@Url.Action("Doctor","Admin")">Doctors</a></li>
                            <li class="propClone"><a href="@Url.Action("Student","Admin")">Students</a></li>
                            <li class="propClone"><a href="@Url.Action("Sponsor","Admin")">Sponsors</a></li>
                            <li class="propClone"><a href=#>Ideas</a></li>
                            <li class="propClone"><a href=#>Log out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            
        </div>
    </header>

    @RenderBody()


    <!-- FOOTER =============================-->
    <div class="footer text-center">
        <div class="container">
            <div class="row">
                <p class="footernote">
                    Connect with Carary
                </p>
                <ul class="social-iconsfooter">
                    <li><a href="#"><i class="fa fa-phone"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
                <p>
                    &copy; 2021 Carary Website<br />
                    
                </p>
            </div>
        </div>
    </div>

    

</body>
</html>
